# Node modules
node_modules/

# Build output
/dist
/build
/packages/web/dist
.wrangler/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage/

# Environment variables
dotenv
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Prisma
prisma/migrations/
tsconfig.tsbuildinfo
